@page
@model WillClinic.Pages.PersonalInfoModel
@{
    ViewData["Title"] = "PersonalInfo";
    Layout = "~/Views/Shared/_IntakeLayout.cshtml";
}

<h2>Personal Info</h2>

<form asp-action="CreateStep1">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4>Please provide your name, address, phone number, and email.</h4>
    <hr />

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.FullLegalName" class="control-label">Full legal name: *</label>
        <h5>Include your first, middle, and last names. Example: John Smith Doe</h5>
        <input asp-for="Veteran.PrimaryData.FullLegalName" class="form-control" />
        <span asp-validation-for="Veteran.PrimaryData.FullLegalName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.Address" class="control-label">Address: *</label>
        <h5>Street Address, City, and State</h5>
        <input asp-for="Veteran.PrimaryData.Address" class="form-control" />
        <span asp-validation-for="Veteran.PrimaryData.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.PhoneNumber" class="control-label">Phone Number: *</label>
        <h5>Include area code</h5>
        <input asp-for="Veteran.PrimaryData.PhoneNumber" type="number" class="form-control" />
        <span asp-validation-for="Veteran.PrimaryData.PhoneNumber" class="text-danger"></span>
    </div>

    <h3>Eligibility</h3>
    <h4>
        <b>In order to be eligible for the WA Vets Will Clinic you must</b>
        <br />
        (1) be a Veteran of a branch of the United States Armed Forces
        <br />
        (2) have proof of military service
        <br />
        (3) be a resident of Washington State
        <br />
        (4) have a net worth of less than $500,000 ($1,000,000 if you are married).
        <br />
        <br />
        <b>Spouses must: </b>
        <br />
        (1) be a resident of Washington State
        <br />
        (2) have a copy of a valid marriage certificate or Certificate of State Registered Domestic Partnership.
    </h4>
    <hr />

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.VeteranStatus" class="control-label">
            Are you or your spouse a Veteran of the United States Armed Forces? *
        </label>
        <h5>
            (Army, Navy, Marine Corps, Air Force, Coast Guard, or Armed Forces Reserve)
        </h5>
        <div class="radio">
            <label>
                @Html.RadioButtonFor(x => x.Veteran.PrimaryData.VeteranStatus, true) Yes
            </label>
        </div>
        <span asp-validation-for="Veteran.PrimaryData.VeteranStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.ProofOfService" class="control-label">
            Do you have proof of military service? *
        </label>
        <h5>
            A DD214, Veterans Identification Card, or similar document showing Military service, is REQUIRED in order to
            participate in the WA Vets Will Clinic. You can obtain your DD214 for FREE at
            http://www.archives.gov/veterans/military-service-records/
        </h5>
        <div class="radio">
            <label>
                @Html.RadioButtonFor(x => x.Veteran.PrimaryData.ProofOfService, true) Yes
            </label>
        </div>

        <span asp-validation-for="Veteran.PrimaryData.ProofOfService" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.ResidentStatus" class="control-label">
            Are you a Washington state resident? *
        </label>
        <h5>
            You must be a Washington resident in order to participate in the WA Vets Will Clinic
        </h5>
        <div class="radio">
            <label>
                @Html.RadioButtonFor(x => x.Veteran.PrimaryData.ResidentStatus, true) Yes
            </label>
        </div>
        <span asp-validation-for="Veteran.PrimaryData.ResidentStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Veteran.PrimaryData.NetWorth" class="control-label">
            Is your net worth less than $500,000 ($1,000,000 per married couple)? *
        </label>
        <h5>
            You must have a net worth of less than $500,000 ($1,000,000 if you are married) in order to participate in the WA
            Vets Will Clinic. Your net worth consists of your cash, personal property, stock and bonds, real estate (equity
            only), savings, life insurance, inheritances, and retirement assets like a 40l(k), military retirement, or an IRA.
        </h5>
        <div class="radio">
            <label>
                @Html.RadioButtonFor(x => x.Veteran.PrimaryData.NetWorth, true) Yes
            </label>
        </div>
        <span asp-validation-for="Veteran.PrimaryData.NetWorth" class="text-danger"></span>
    </div>
    <hr />
    <div class="class-md-12">
        <div class="form-group col-md-offset-1 col-md-1 pull-left">
            <a asp-controller="VeteranIntakeForm" asp-action="CreateStep0" class="btn btn-danger">Back</a>
        </div>

        <div class="form-group text-center col-md-8 pull-left">
            <a asp-controller="VeteranIntakeForm" asp-action="" class="btn btn-default">Save & Exit</a>
        </div>

        <div class="form-group col-md-2">
            <input type="submit" value="Next" class="btn btn-success" />
        </div>
    </div>

</form>

