
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" asp-page="HealthCareDirective/Directives">Derectives</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" asp-page="HealthCareDirectives/HealthCarePOA">Health Care Power of Attorney</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    @RenderBody()
</div>

