@using Microsoft.AspNetCore.Identity
@using WillClinic.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {

        var user = await UserManager.FindByEmailAsync(User.Identity.Name);
        bool isVeteran = await UserManager.IsInRoleAsync(user, ApplicationRoles.Veteran);
        bool isLawyer = await UserManager.IsInRoleAsync(user, ApplicationRoles.Lawyer);


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
                <strong class="name-dropdown">Hi, @user.FirstName!</strong>
            </a>
            @{ 
                string dropdownClass = "";
                if (isLawyer)
                {
                    dropdownClass = "lawyer-menu";
                }
                if (isVeteran)
                {

                    dropdownClass = "veteran-menu";
                }
                <div class="dropdown-menu @dropdownClass" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item disabled">
                        <i class="fas fa-user big-user-icon"></i>
                        <div class="d-inline-block" id="user-attr">
                            @{
                                string fullName = $"{user.FirstName} {user.LastName}";
                                <strong>@fullName</strong>
                            }

                            <p>@User.Identity.Name</p>
                        </div>
                        @if (isVeteran)
                        {
                            <div class="d-block">
                                <i>Veteran</i>
                            </div>
                            <a class="dropdown-item" asp-controller="Veterans" asp-action="Index">My Profile</a>
                            <a class="dropdown-item" asp-controller="Veteran" asp-action="Index">Application</a>
                        }

                        @if (isLawyer)
                        {
                            <div class="d-block">
                                <i>Lawyer</i>
                            </div>
                            <a class="dropdown-item" asp-controller="Lawyers" asp-action="Index">My Profile</a>
                        }
                    </div>
                    @*@if (isVeteran)
                    {

                        <a class="dropdown-item" asp-controller="Veterans" asp-action="Index">My Profile</a>
                        <a class="dropdown-item" asp-controller="Veteran" asp-action="Index">Application</a>
                    }*@

                    <hr />

                    <div class="logout-container">
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="btn btn-danger" id="logout-btn">Log out</button>
                        </form>
                    </div>
                </div>

            }
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Accounts" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>

<script>
        $(document).ready(function () {
            $(".disabled").click(function () {
                return false;
            });
        });
</script>