@model WillClinic.Models.LawyerAvailability

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>LawyerAvailability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="LawyerApplicationUserId" class="control-label"></label>
                <select asp-for="LawyerApplicationUserId" class="form-control" asp-items="ViewBag.LawyerApplicationUserId"></select>
                <span asp-validation-for="LawyerApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeAvailable" class="control-label"></label>
                <input asp-for="TimeAvailable" class="form-control" />
                <span asp-validation-for="TimeAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

