@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr><th colspan="2">Find Attorney Module</th></tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"><form method="post" asp-controller="Match" asp-action="AddtoQueue">
                <button type="submit">Request Lawyer</button>
            </form></td>
        </tr>
    </tbody>
</table>

