@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">
                Find Lawyer Module
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Test
            </td>
            <td>
                Test
            </td>
        </tr>
    </tbody>
</table>

