@{
    ViewData["Title"] = "Default";
}

<div class="col-md-2"></div>
<div class="cardbordered border-primary col-md-8">
    <div class="card-header text-center">
        <h3>
            <b>Find Attorney</b>
        </h3>
    </div>
    <div class="card-body text-center">
        <form method="post" asp-controller="Match" asp-action="AddtoQueue">
            <button type="submit" class="btn-primary btn btn-success">Request Attorney</button>
        </form>
    </div>
</div>
<div class="col-md-2"></div>
