@model WillClinic.Models.VeteranLawyerMatch
@{
    ViewData["Title"] = "Default";
}

<div class="col-md-2"></div>
<div class="cardbordered border-primary col-md-8">
    <div class="card-header text-center">
        <h3>
            <b>Scheduled Meeting</b>
        </h3>
    </div>
    <div class="card-body text-center">
        <h4><b>Attorney: </b> @Model.Lawyer.ApplicationUser.FirstName</h4>
        <h4><b>Accepted Time Slot:</b> @Model.TimeSelected</h4>
    </div>
</div>
<div class="col-md-2"></div>
