@model WillClinic.Models.VeteranLawyerMatch
@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr><th colspan="2">Find Attorney Module</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Attorney: </td>
            <td>@Model.Lawyer.ApplicationUser.FirstName</td>
        </tr>
        <tr>
            <td>Accepted Time Slot:</td>
            <td>@Model.TimeSelected</td>
        </tr>
    </tbody>
</table>
