@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr><th colspan="2">Find Attorney Module</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>No Completed Applications Detected.</td>
            <td>Please start a new application before requesting an attorney.</td>
        </tr>
    </tbody>
</table>
