@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr><th colspan="2">Find Lawyer Module</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>No Completed Forms Detected.</td>
            <td>Please start a new Will Form before requesting a Lawyer.</td>
        </tr>
    </tbody>
</table>
