@model WillClinic.Models.VeteranQueue
@{
    ViewData["Title"] = "Default";
}

<div class="col-md-2"></div>
<div class="cardbordered border-primary col-md-8">
    <div class="card-header text-center">
        <h3>
            <b>Find Attorney</b>
        </h3>
    </div>
    <div class="card-body text-center">
        <h4><b>Pending Attorney Match</b></h4>
        <h4>Time Requested: @Model.TimeEnteredQueue</h4>
    </div>
</div>
<div class="col-md-2"></div>
