@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr><th colspan="2">Find Lawyer Module</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Pending Lawyer Match</td>
            <td>Time Entered Queue: </td>
        </tr>
    </tbody>
</table>
