@model WillClinic.Models.VeteranQueue
@{
    ViewData["Title"] = "Default";
}

<table class="table table-bordered">
    <thead>
        <tr><th colspan="2">Find Attorney Module</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Pending Attorney Match</td>
            <td>Time Entered Queue: @Model.TimeEnteredQueue</td>
        </tr>
    </tbody>
</table>
