@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<hr />  

<h3>Who We Are</h3>
<p>
    The WA Vets Will Clinic was founded in 2012 by the Spokane County Bar Association Young Lawyers Division in collaboration with Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.
    <br />  
    <br />  
    The purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.
    <br /> 
    <br />  
    You must apply using the WA Vets Will Clinic online intake form in order to be considered for free estate plan documents - all WA Vets Will Clinic events are by appointment only (no walk-ups). In order to qualify for a WA Vets Will Clinic event, an applicant must:
    <br />    
    Be a Washington State resident; and
    Be a Veteran of a branch of the United States Armed Forces (or a spouse of a living Veteran); and
    Have a DD214 (Report of Separation or some other official document evidencing military service); and
    Have a net worth of less than $500,000.00 ($1,000,000.00 if married); and
    Agree to the terms and conditions available on this website, those in the online enrollment application, and any other conditions in place for individual Clinic events.
    Not all that apply will be selected, and all use and all participation and use is subject to the WA Vets Will Clinic terms, conditions and disclaimer, as amended from time to time.
    <br />  
    <br />  
    WA Vets Will Clinic would like to thank the following organizations and people for their participation and/or sponsorship of the October 2013 Clinic at Gonzaga University School of Law* :
    <br />   
    Etter, McMahon, Lamberson, Clary & Oreskovich, P.C.
    Garco Construction, Inc.
    Pepsi Beverages Co.
    The Wake Up Call - Fine Coffee & Espresso
    Witherspoon Kelley
    <br />  
    <br />  
    *Inclusion on this list is not meant to be referral or endorsement of any person / entity listed.
</p>
