@{
    ViewData["Title"] = "Who We Are";
}

<h2>About Us </h2>
<h3>Who We Are</h3>
<p>
    <p>The WA Vets Will Clinic was founded in 2012 by the Spokane County Bar Association Young Lawyers Division in collaboration with Army OneSource,
    Gonzaga University School of Law, Red Cross - Inland Northwest Region, Vet Center (U.S. Department of Veterans Affairs), and 
    Washington State Department of Veterans Affairs.</p>
    <p>The purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.</p>

    <br />  
    WA Vets Will Clinic would like to thank the following organizations and people for their participation and/or sponsorship of the October 2013 Clinic at Gonzaga University School of Law* :
    <br />  

    <ul>
        <li>Etter, McMahon, Lamberson, Clary & Oreskovich, P.C.</li>
        <li>Garco Construction, Inc.</li>
        <li> Pepsi Beverages Co.</li>
        <li>The Wake Up Call - Fine Coffee & Espresso </li>
        <li> Witherspoon Kelley </li>
        <li>The Wake Up Call - Fine Coffee & Espresso </li>
    </ul>
 
    *Inclusion on this list is not meant to be referral or endorsement of any person / entity listed.*

