@{
    ViewData["Title"] = "Who We Are";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The WA Vets Will Clinic was founded in 2012 by the Spokane County Bar Association Young Lawyers Division in collaboration with Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.</p>
