

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Additional Vet Resources</h1>
        <p class="lead text-muted">
            The Washington State Will Clinic thanks you for your service! We're here to provide assistance to you and your family members for your estate planning needs, please find a list of useful resources below.
        </p>
        <p>
            <div>
                <a asp-action="Index">Return Home</a>
            </div>
        </p>
    </div>
</section>



<div class="album text-muted">
    <div class="container">
        <div class="row">
            <div class="card">
                <p><strong>Crisis</strong></p>
                <p>
                    <a href="https://nvf.org/lifeline-vets">NVF Lifeline for Vets</a> – 1-888-777-4443<br>
                    <a href="https://www.veteranscrisisline.net/">VA Suicide Hotline</a> – 1-800-273-8255<br>
                    <a href="https://www.suicidepreventionlifeline.org/">National Suicide Hotline</a> – 1-800-273-TALK (8255)<br>
                    <a href="https://stopsoldiersuicide.org/">Stop Soldier Suicide</a> – 1.800.273.8255 #1
                </p>
            </div>
            <div class="card">
                <p><strong>General</strong></p>
                <p><a href="https://www.va.gov/statedva.htm">State Veterans Service Offices</a> (housing, employment, education, VA benefits)<br> <a href="https://www.ebenefits.va.gov/ebenefits/homepage">VA E-benefits</a> A Service of the Department of Veterans Affairs and the Department of Defense</p>
            </div>
            <div class="card">
                <p><strong>Apply For</strong></p>
                <p>
                    <a href="https://www.ebenefits.va.gov/ebenefits/apply#employment"> eBenefits</a><br />
                    <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=disability-compensation"> Disability Compensation</a><br />
                    <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=dependent-compensation"> Add or Remove Dependent</a><br />
                    <a href="https://www.vets.gov/health-care/apply/"> VA Health Care</a><br />
                    <a href="https://www.vets.gov/education/apply/"> Education Benefits</a><br />
                    <a href="https://www.vets.gov/pension/application/527EZ/introduction"> Pension Benefits</a><br />
                    <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=vocational-rehabilitation-and-employment"> Vocational Rehabilitation and Employment</a>
                </p>
            </div>
            <p><strong>Manage the Following</strong></p>
            <p>Compensation Claim Status<br> Personal Contact and Direct Deposit<br> VA Payment History<br> VA Letters<br> Certificate of Eligibility for Home Loan<br> Supporting Document Upload for Claims</p>
            <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=compensation-pension-claim-status"> Click Here</a><br />

            <div class="card">
                <p><strong>Manage the Following</strong></p>
                <p>VA Medical Records<br> VA Prescription Refills<br> VA Medical Appointment Scheduling<br> Hearing Aid Batteries and Prosthetic Socks<br> VA Medical Provider Messaging<br> DoD TRICARE® Health Insurance</p>
                <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=tricare-insurance"> Click Here</a><br />
            </div>
        </div>

    </div>
</div>



