@{
    ViewData["Title"] = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<div>
    <h4>How do I qualify?</h4>
    <p> In order to qualify for a WA Vets Will Clinic event, an applicant must:</p>
    <ul>
        <li>Be a Washington State resident</li>
        <li>
            Be a Veteran of a branch of the United States Armed Forces and
            have a DD-214 (Report of Separation or some other official document evidencing military service)
        </li>
        <li> Have a net worth of less than $500,000.00 ($1,000,000.00 if married)</li>
        <li>Agree to the terms and conditions available on this website, those in the on-line enrollment application, and any other conditions in place for individual Clinic events</li>
        <li>Additional conditions may be in place for individual Clinic events</li>
    </ul>
</div>

<br>
<div>
    <h4> How do I sign Up?</h4>
    <p>You must apply using the WA Vets Will Clinic on-line intake form</p>
    <ul>
        <li>All WA Vets Will Clinic events are by appointment only (no walk-ups)</li>
        <li>
            Not all that apply will be selected, and all use and
            participation is subject to the WA Vets Will Clinic terms, conditions and disclaimer, as amended from time to time.
        </li>
    </ul>
</div>
<br>