@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>WA Vets Will Clinic</h1>
            <h4>
                Now in its fifth year, the WA Vets Will Clinic offers FREE estate planning documents to veterans of the US Armed Forces.
                <br />

                The WA Vets Will Clinic was founded by the Spokane County Bar Association Young Lawyers Division in collaboration with Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Vet Center  (a division of the U.S. Department of Veterans Affairs), and Washington State Department of Veterans Affairs.
            </h4>
            <hr />
        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <div class="card center-block text-center" style="width: 20rem;">
                <i id="lawyer-icon" class="material-icons">account_balance</i>
                <div class="card-block text-center">
                    <h2 class="card-title">Attorneys</h2>
                    <p class="card-text">Volunteer today and be quickly matched up with a Veteran in need of legal services.  Meet locally to complete application</p>
                    <a asp-area="" class="btn btn-primary" asp-controller="Lawyer" asp-action="Register">Attorney Registration</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card center-block text-center" style="width: 20rem;">
                <i id="veteran-icon" class="material-icons">account_circle</i>
                <div class="card-block text-center">
                    <h2 class="card-title">Veterans</h2>
                    <p class="card-text">Gain access to the Will Application & be matched up with a local attorney who will guide you through the process</p>
                    <a asp-area="" class="btn btn-primary" asp-controller="Veteran" asp-action="Register">Veteran Registration</a>
                </div>
            </div>
        </div>

    </div>
</div>
