@model WillClinic.Models.Lawyer

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome</h2>

<div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <iframe src="https://calendar.google.com/calendar/embed?src=qpo0sthp7u3lrke32a7o1rfstc%40group.calendar.google.com&ctz=America%2FLos_Angeles"></iframe>
        </div>
        <div class="col-xs-2"></div>
        
    </div>
</div>
<form class="container" method="post">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div id="map"></div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <label for="radius">Radius</label>
            <input type="range" name="radius" value="15" min="5" max="100" />
        </div>
        <div class="col-xs-2"></div>
    </div>
</form>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript" src="~/js/googlemaps.js"></script>
