@model WillClinic.Models.Lawyer

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome</h2>

<div class="row">
    <iframe src="https://calendar.google.com/calendar/embed?src=qpo0sthp7u3lrke32a7o1rfstc%40group.calendar.google.com&ctz=America%2FLos_Angeles"></iframe>
</div>
