@model List<WillClinic.Models.LawyerAvailability>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <table class="table table-responsive">
            <tr><td id="tname" colspan="2" class="text-center">Lawyer Availability Module</td></tr>
            <tr id="th"><td colspan="2" class="text-center">Current Availability</td></tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TimeAvailable)</td>
                        <td>
                            <form method="post" asp-controller="LawyerAvailability" asp-action="Delete" asp-route-id="@item.ID">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </form>
                        </td>
                    </tr>
                }
                <tr><td><a asp-controller="LawyerAvailability" asp-action="Create">Add Time Slot</a></td></tr>
            </tbody>
        </table>
    </div>
</div>

@*<form class="container" method="post">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">

        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <label for="radius">Radius</label>
            <input type="range" name="radius" value="15" min="5" max="100" />
        </div>
        <div class="col-xs-2"></div>
    </div>
</form>*@

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        @await Component.InvokeAsync("ClientFinder")
    </div>
</div>
