html,
body {
    margin: 0;
    padding: 0;

}

.body-custom {
    margin-top: 12%;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-weight: bold;
}

/*Navbar*/
.navbar-custom {
    position: fixed;
    background: rgb(44,62,80);
}

.navline-custom {
    height: 2px;
    background-color: rgb(101,67,33);
}

#navlist ul li a {
    font-size: 1em;
    font-weight: bold;
    color: floralwhite !important;
}

    #navlist ul li a:hover {
        color: saddlebrown !important;
        text-decoration: none !important;
    }

/*Navbar Title*/
.info-custom {
    background: rgb(44,62,80);
    color: #ffffff;
}

/*Index Icons*/
#lawyer-icon {
    font-size: 4em;
}

#veteran-icon {
    font-size: 4em;
}

/*Footer*/
.footy {
    margin: 0;
    padding: 0;
}

.footer-custom {
    background: #636e72;
    margin: 0;
}

.logo {
    padding: 10px 10px 5px 15px;
}

#footer-copy {
    margin-top: 4%;
    color: floralwhite;
 }



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
 
}

iframe {
    width: 100%;
    height: 300px;
}

img#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
