html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 12rem;
    min-height: 100%;
}

.icon-bar {
    background-color: whitesmoke !important;
}

.body-custom {
    margin-top: 12%;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-weight: bold;
}

/*Navbar*/
.navbar-custom {
    background: rgb(44,62,80);
}

.navline-custom {
    height: 2px;
    background-color: rgb(101,67,33);
}

#navlist ul li a {
    font-size: 1em;
    font-weight: bold;
    color: floralwhite !important;
}

    #navlist ul li a:hover {
        color: saddlebrown !important;
        text-decoration: none !important;
    }

/*Navbar Title*/
.info-custom {
    background: rgb(44,62,80);
    color: #ffffff;
}

/*Index Icons*/
#lawyer-icon {
    font-size: 4em;
}

#veteran-icon {
    font-size: 4em;
}


#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.footer-custom {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    background: #636e72;
    margin: 0;
}

.logo {
    padding: 10px 10px 5px 15px;
}

#footer-copy {
    margin-top: 4%;
    color: floralwhite;
}

/*Document stlyling*/
.alpha-list {
    list-style-type: upper-alpha;
}

.doc-indent {
    text-indent: 4em;
}

.blank-list {
    list-style-type: none;
}

@media print {
    .page-break {
        page-break-after: always;
    }
}

/* Progress Bar */
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}

iframe {
    width: 100%;
    height: 300px;
}

img#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul.container {
    width: 90%;
}

li.row {
    /*list-style: none;*/
    margin: 4px;
}

.bordercol {
    padding: 3px;
    border: 1px solid #0094ff;
    border-radius: 4px 5px;
}

/*Cards*/
.cardbordered {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(223,215,202,0.75);
    border-radius: 0.25rem
}

.card > hr {
    margin-right: 0;
    margin-left: 0
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: 0.75rem
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(248,245,240,0.25);
    border-bottom: 1px solid rgba(223,215,202,0.75)
}

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
    }

    .card-header + .list-group .list-group-item:first-child {
        border-top: 0
    }

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(248,245,240,0.25);
    border-top: 1px solid rgba(223,215,202,0.75)
}

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px)
    }

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px)
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px)
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px)
}

.card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

    .card-deck .card {
        margin-bottom: 15px
    }

@media (min-width: 576px) {
    .card-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

        .card-deck .card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px
        }
}

.card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

    .card-group > .card {
        margin-bottom: 15px
    }

@media (min-width: 576px) {
    .card-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

        .card-group > .card {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            margin-bottom: 0
        }

            .card-group > .card + .card {
                margin-left: 0;
                border-left: 0
            }

            .card-group > .card:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0
            }

                .card-group > .card:first-child .card-img-top, .card-group > .card:first-child .card-header {
                    border-top-right-radius: 0
                }

                .card-group > .card:first-child .card-img-bottom, .card-group > .card:first-child .card-footer {
                    border-bottom-right-radius: 0
                }

            .card-group > .card:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0
            }

                .card-group > .card:last-child .card-img-top, .card-group > .card:last-child .card-header {
                    border-top-left-radius: 0
                }

                .card-group > .card:last-child .card-img-bottom, .card-group > .card:last-child .card-footer {
                    border-bottom-left-radius: 0
                }

            .card-group > .card:only-child {
                border-radius: 0.25rem
            }

                .card-group > .card:only-child .card-img-top, .card-group > .card:only-child .card-header {
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem
                }

                .card-group > .card:only-child .card-img-bottom, .card-group > .card:only-child .card-footer {
                    border-bottom-right-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem
                }

            .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
                border-radius: 0
            }

                .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
                    border-radius: 0
                }
}

.card-columns .card {
    margin-bottom: 0.75rem
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

        .card-columns .card {
            display: inline-block;
            width: 100%
        }
}

/*Alert*/
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 3.8125rem
}

    .alert-dismissible .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem 1.25rem;
        color: inherit
    }

.alert-primary {
    color: #1a3047;
    background-color: #d6dfe7;
    border-color: #c6d2de
}

    .alert-primary hr {
        border-top-color: #b6c5d5
    }

    .alert-primary .alert-link {
        color: #0c1722
    }

.alert-secondary {
    color: #4a4945;
    background-color: #e8e8e6;
    border-color: #dfdfdd
}

    .alert-secondary hr {
        border-top-color: #d3d3d0
    }

    .alert-secondary .alert-link {
        color: #302f2c
    }

.alert-success {
    color: #4c6627;
    background-color: #e9f3db;
    border-color: #e1efcd
}

    .alert-success hr {
        border-top-color: #d5e9ba
    }

    .alert-success .alert-link {
        color: #314119
    }

.alert-info {
    color: #155974;
    background-color: #d4eef9;
    border-color: #c3e7f6
}

    .alert-info hr {
        border-top-color: #addef3
    }

    .alert-info .alert-link {
        color: #0d3849
    }

.alert-warning {
    color: #7f401f;
    background-color: #fde5d8;
    border-color: #fcdac8
}

    .alert-warning hr {
        border-top-color: #fbcab0
    }

    .alert-warning .alert-link {
        color: #562b15
    }

.alert-danger {
    color: #712b29;
    background-color: #f7dddc;
    border-color: #f4cfce
}

    .alert-danger hr {
        border-top-color: #efbbb9
    }

    .alert-danger .alert-link {
        color: #4c1d1b
    }

.alert-light {
    color: #817f7d;
    background-color: #fefdfc;
    border-color: #fdfcfb
}

    .alert-light hr {
        border-top-color: #f5efea
    }

    .alert-light .alert-link {
        color: #676664
    }

.alert-dark {
    color: #20211e;
    background-color: #d8d9d8;
    border-color: #c9c9c8
}

    .alert-dark hr {
        border-top-color: #bcbcbb
    }

    .alert-dark .alert-link {
        color: #060606
    }

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

.alert {
    color: #fff
}

    .alert a, .alert .alert-link {
        color: #fff;
        text-decoration: underline
    }

.alert-primary, .alert-primary > th, .alert-primary > td {
    background-color: #325D88
}

.alert-secondary, .alert-secondary > th, .alert-secondary > td {
    background-color: #8E8C84
}

.alert-success, .alert-success > th, .alert-success > td {
    background-color: #93C54B
}

.alert-info, .alert-info > th, .alert-info > td {
    background-color: #29ABE0
}

.alert-danger, .alert-danger > th, .alert-danger > td {
    background-color: #d9534f
}

.alert-warning, .alert-warning > th, .alert-warning > td {
    background-color: #F47C3C
}

.alert-dark, .alert-dark > th, .alert-dark > td {
    background-color: #3E3F3A
}

.alert-light, .alert-light > th, .alert-light > td {
    background-color: #F8F5F0
}

    .alert-light, .alert-light a:not(.btn), .alert-light .alert-link {
        color: #3E3F3A
    }

.badge-success, .badge-warning {
    color: #fff
}

.close {
    color: #DFD7CA;
    opacity: 1
}

    .close:hover {
        color: #b9a78a
    }

html {
    /*margin: 0;
    padding: 0;*/
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 12rem;
    min-height: 100%;
}

.icon-bar {
    background-color: whitesmoke !important;
}

.body-custom {
    margin-top: 12%;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-weight: bold;
}

/*Navbar*/
.navbar-custom {
    background: rgb(44,62,80);
}

.navline-custom {
    height: 2px;
    background-color: rgb(101,67,33);
}

#navlist ul li a {
    font-size: 1em;
    font-weight: bold;
    color: floralwhite !important;
}

    #navlist ul li a:hover {
        color: saddlebrown !important;
        text-decoration: none !important;
    }

/*Navbar Title*/
.info-custom {
    background: rgb(44,62,80);
    color: #ffffff;
}

/*Index Icons*/
#lawyer-icon {
    font-size: 4em;
}

#veteran-icon {
    font-size: 4em;
}

/*Footer*/

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.footer-custom {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    background: #636e72;
    margin: 0;
}

.logo {
    padding: 10px 10px 5px 15px;
}

#footer-copy {
    margin-top: 4%;
    color: floralwhite;
}


/* Progress Bar */
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}

iframe {
    width: 100%;
    height: 300px;
}

img#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul.container {
    width: 90%;
}

li.row {
    /*list-style: none;*/
    margin: 4px;
}

.bordercol {
    padding: 3px;
    border: 1px solid #0094ff;
    border-radius: 4px 5px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
}
