@page
@{
    ViewData["Title"] = "EmailVerificationSent";
}

<h2>Thank you!</h2>

<h3>A link has been sent to your email address for verification.</h3>
<p>Please click this link or copy and paste it into your browser's address bar to complete the registration process.</p>