@page
@model WillClinic.Pages.Accounts.EmailConfirmationModel

@{
    ViewData["Title"] = "Email Confirmed";
}

<h2>Thank you!</h2>

<h3>Your email address has been confirmed</h3>
<p>Please login to continue</p>