@page
@model WillClinic.Pages.Accounts.LawyerConfirmationModel
@{
    ViewData["Title"] = "LawyerConfirmation";
}

<h2>Thank you</h2>
<p>for confirming your email</p>

<h2>Last step</h2>
<p>We need to confirm your status as a lawyer licensed to practice in Washington State. Please input your bar number below. <strong>We will be comparing your email against the one listed by the Washington State Bar Association. If that email does not match the email on your account you will not be approved.</strong></p>
<form method="post">
    <label asp-for="BarNumber">Bar Number</label>
    <input type="number" asp-for="BarNumber"/>
    <button type="submit">Submit</button>
</form>



