
@{
    ViewData["Title"] = "Confirm";
}

<form asp-action="confirm`" method="post">
    <label for="confirm">A veteran was found x miles from you. Would you like to forward them your contact information?</label>
    <button name="confirm" type="submit" class="btn-success">Schedule a Meeting</button>
</form>

