@page
@model WillClinic.Pages.HealthCareDirective.DirectivesModel
@{
    ViewData["Title"] = "Directives";
    Layout = "~/Views/Shared/_HealthDirectiveLayout.cshtml";
}

<h2>Health Care Directives</h2>
<form method="post">

    <h4>
        A health care directive, sometimes called a physician's directive or living will, is a directive that states your
        wishes for the withholding or withdrawal of life-sustaining treatment if you are in a terminal condition or
        permanent unconscious condition. This document is used to spell out your wishes to your treating health care
        professionals.
    </h4>
    <hr />

    <div class="form-group">
        <label asp-for="HydrationDirective" class="control-label">41) Hydration:</label>
        <div class="radio">
            <label>
                <input asp-for="HydrationDirective" type="radio" value="true" /> I DO want to have artificially-provided hydration
            </label>
        </div>
        <div class="radio">
            <label>
                <input asp-for="HydrationDirective" type="radio" value="false" /> I DO NOT want to have artificially-provided hydration
            </label>
        </div>
        <span asp-validation-for="HydrationDirective" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NutritionDirective" class="control-label">42) Nutrition:</label>
        <div class="radio">
            <label>
                <input asp-for="NutritionDirective" type="radio" value="true" /> I DO want to have artificially-provided nutrition
            </label>
        </div>
        <div class="radio">
            <label>
                <input asp-for="NutritionDirective" type="radio" value="false" /> I DO NOT want to have artificially-provided nutrition
            </label>
        </div>
        <span asp-validation-for="NutritionDirective" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ArtificialVentilation" class="control-label">43) Cardiopulmonary resuscitation / assisted ventilation:</label>
        <div class="radio">
            <label>
                <input asp-for="ArtificialVentilation" type="radio" value="true" /> I DO want cardiopulmonary resuscitation and/or assisted ventilation
            </label>
        </div>
        <div class="radio">
            <label>
                <input asp-for="ArtificialVentilation" type="radio" value="false" /> I DO NOT want cardiopulmonary resuscitation and/or assisted ventilation
            </label>
        </div>
        <span asp-validation-for="ArtificialVentilation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DistressMedication" class="control-label">44) Pain / distress medication:</label>
        <div class="radio">
            <label>
                <input asp-for="DistressMedication" type="radio" value="true" /> I DO want to receive appropriate medical treatment to alleviate or eliminate pain or distress
            </label>
        </div>
        <div class="radio">
            <label>
                <input asp-for="DistressMedication" type="radio" value="false" /> I DO NOT want to receive medical treatment to alleviate or eliminate pain or distress
            </label>
        </div>
        <span asp-validation-for="DistressMedication" class="text-danger"></span>
    </div>
    <hr />
    <div class="class-md-12">
        <div class="form-group col-md-offset-1 col-md-1 pull-left">
            <a asp-controller="VeteranIntakeForm" asp-action="CreateStep5" class="btn btn-danger">Back</a>
        </div>

        <div class="form-group text-center col-md-8 pull-left">
            <a asp-controller="VeteranIntakeForm" asp-action="" class="btn btn-default">Save & Exit</a>
        </div>

        <div class="form-group col-md-2">
            <input type="submit" value="Next" class="btn btn-success" />
        </div>
    </div>
</form>
