@page
@model WillClinic.Pages.DependentsModel
@{
    ViewData["Title"] = "Dependents";
    Layout = "~/Views/Shared/_IntakeLayout.cshtml";
}

<h2>Dependents</h2>

<form method="post">
    <hr />
    <div class="form-group">
        <label asp-for="HouseHoldSize" class="control-label">
            Household Size:
        </label>
        <input asp-for="HouseHoldSize" class="form-control" />
        <span asp-validation-for="HouseHoldSize" class="text-danger"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="MaritalStatus" class="control-label">
            19) Marital status: *
        </label>
        <h5>
            select the most appropriate
        </h5>

        <select asp-for="MaritalStatus" class="form-control" asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
    </div>*@

    @*TODO: If veteran profile states Veteran is married, then display this question*@
    <div class="form-group">
        <label asp-for="FullNameSpouse" class="control-label">
            Full legal name of your spouse
        </label>
        <h5>
            Provide the full legal name of your spouse
        </h5>
        <input asp-for="FullNameSpouse" class="form-control" />
        <span asp-validation-for="FullNameSpouse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HaveChildren" class="control-label">
            Do you have any children? *
        </label>
        <h5>
            Include biological, adopted, or step-children
        </h5>
        <div class="radio">
            <label>
                <input asp-for="HaveChildren" type="radio" value="true" /> Yes
            </label>
            <label>
                <input asp-for="HaveChildren" type="radio" value="false" /> No
            </label>
        </div>
    </div>

    @*TODO: If veteran has children, ask the following questions, if not keep hidden*@
    <div class="form-group">
        <label asp-for="UnderAgeChildren" class="control-label">
            Do you have any minor children?
        </label>
        <h5>
            (under the age of 18 on October 12, 2013)
        </h5>
        <div class="radio">
            <label>
                <input asp-for="UnderAgeChildren" type="radio" value="true" /> Yes
            </label>
            <label>
                <input asp-for="UnderAgeChildren" type="radio" value="false" /> No
            </label>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MinorChildrenDifferentSpouse" class="control-label">
            If you have minor children, AND the parent of your minor child is DIFFERENT from your current spouse,
            please list them below.
        </label>
        <input asp-for="MinorChildrenDifferentSpouse" class="form-control" />
        <span asp-validation-for="MinorChildrenDifferentSpouse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentlyPregnant" class="control-label">
            Are you, your spouse, or your partner currently pregnant?
        </label>
        <div class="radio">
            <label>
                <input asp-for="CurrentlyPregnant" type="radio" value="true" /> Yes
            </label>
            <label>
                <input asp-for="CurrentlyPregnant" type="radio" value="false" /> No
            </label>
        </div>
    </div>
    <div class="form-group">

        @*TODO: If veteran says they have children, give them an initial area to add a child, with an option below to add another*@
        @*<h1>#1</h1>
            <h4>For each child, please list their full legal name, date of birth, and biological, adoptive, or step-child status.</h4>*@

        @*<label asp-for="Children[0].FullName">
                Child #1
            </label>
            <h5>
                Full Legal Name
            </h5>
            <input asp-for="Children[0].FullName" class="form-control" />

            <label asp-for="Children[0].DOB">
                Child's Date of Birth *
            </label>
            <h5>
                please list in MM / DD / YYYY format. (Example: 02/14/1980)
            </h5>
            <input asp-for="Children[0].DOB" class="form-control" />

            <label asp-for="Children[0].ChildRelationToVeteran">
                Please indicate if this is a biological, adoptive, or step-child. *
            </label>*@
        @*<input asp-for="Children[0].DOB" class="form-control" />*@
    </div>
</form>