@page
@model WillClinic.Pages.GuardianshipModel
@{
    ViewData["Title"] = "Guardianship";
    Layout = "~/Views/Shared/_WillLayout.cshtml";
}

@*TODO: If veteran has no minor children, do not display this page*@
<h2>Guardianship</h2>
<h4>
    If you do not have minor children (under 18), skip this section.

    A guardianship is a legal mechanism by which one individual or entity (a guardian) is appointed by a court to
    exercise certain decision making functions on behalf of, and in the place of, a minor child (under age 18). If you
    have minor children when you die, and if the other natural/adoptive parent of the child not alive or for any reason
    cannot act as guardian, a court may appoint a guardian of your choosing to have custody and decision making
    authority for your child/children until they reach age 18. If you have sole custody, upon your death, the child’s other
    natural or adopted parent will be entitled to act as parent even if you provide for someone else to serve as
    guardian in your Will. However, it is still advisable to name a guardian in case the other parent is unable or
    unwilling to serve as guardian.
</h4>
<hr />
<div class="form-group">
    <label asp-for="PrimaryGuardian" class="control-label">
        If you'd like to appoint a guardian, please list their name, city, and state of residence. (Example: John Doe,
        Spokane, Washington)
    </label>
    <h5>
        You may choose to have co-guardians. Do so by listing both persons, along with their city and state of residence.
        (Example: John Doe, Spokane, Washington; Jane Doe, Spokane, Washington)
    </h5>
    <input asp-for="PrimaryGuardian" class="form-control" />
    <span asp-validation-for="PrimaryGuardian" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AlternateGuardian" class="control-label">
        If you'd like to appoint an alternate guardian, in the event the above guardian(s) are unavailable, you may
        do so by listing their name, city, and state of residence below. (Example: John Doe, Spokane, Washington)
    </label>
    <input asp-for="AlternateGuardian" class="form-control" />
    <span asp-validation-for="AlternateGuardian" class="text-danger"></span>
</div>

<h3>Personal Representative</h3>
<h4>
    Your personal representative (sometimes called an "Executor") is the representative of your estate after your
    death. A personal representative typically is responsible for administering your estate through probate, the court
    process of distributing of your assets which may including settling claims against your estate and distributing
    property to heirs.
</h4>

<div class="form-group">
    <label asp-for="PersonalRepresentative" class="control-label">
        Whom do you wish to serve as your personal representative? *
    </label>
    <h5>
        List the person's full legal name. This is required.
    </h5>
    <input asp-for="PersonalRepresentative" class="form-control" />
    <span asp-validation-for="PersonalRepresentative" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AlternateRepresentative" class="control-label">
        Whom do you wish to serve as an alternate if your first choice for personal representative is unable to
        serve?
    </label>
    <h5>
        List the person's full legal name.
    </h5>
    <input asp-for="AlternateRepresentative" class="form-control" />
    <span asp-validation-for="AlternateRepresentative" class="text-danger"></span>
</div>
<hr />

